#movie{
    .movie_menu{
        width: 100%;
        display: flex;
        align-items: center;
        height: 44px;
        justify-content: space-between;
        position: fixed;
        top: 44px;
        left: 0;
        background: #fafafa;
        z-index: 10;
        .movie_menu_city{
            padding-left: 15px;
            font-size: 15px;
            color: #666;
            display: flex;
            align-items: center;
            i{
                font-size: 12px;
            }
        }
        .movie_menu_switch{
            display: flex;
            height: 44px;
            line-height: 44px;
            .movie_menu_active{ 
                font-size: 15px;
                color: #666;
                width: 80px;
                text-align: center;
                margin: 0 12px;
                font-weight: 700;
            }
            .active{
                color: red;
                border-bottom: 2px solid red;
            }
        }
        .movie_meun_search{
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 15px 10px 10px;
        }
    }  
}



